body{
    margin: 0px 0px 0px 0px;
}
h1{
    font-size: 50px;
}
nav{
    display: flex;
    justify-content: space-around; 
}
h3{
    color:rgb(88, 8, 71);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
}
h4{
    height:20px;
    margin-bottom: 0px;
    text-align: center;
    background: rgb(255, 255, 255);
    padding: 10px 10px 10px 10px;
    color:  rgb(88, 8, 71);
    border-top-right-radius: 30px;
    font-size: larger;
    border-top: 2px solid rgb(63, 2, 55);
    border-left: 2px solid rgb(63, 2, 55);

}
p{
    font-size: 17px;
}
article{
    display: flex;
    justify-content: center;
}
div{
    margin: 0px 10px 10px 10px;
}