body {
    margin: 0px 0px 0px 0px;
}

h1 {
    font-size: 50px;
    margin: 0px 10px;
}

h3 {
    color: rgb(88, 8, 71);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

nav {
    display: flex;
    /* justify-content: space-around;  */
}

aside {
    width: max-content;
    margin: 10px 10px 10px 10px;
    border-style: outset;
    padding: 10px;
    justify-content: center;
}

aside img {
    height: 200px;
    width: auto;
    justify-content: center;
}

aside p {
    font-size: 10px;
}

aside h2 {
    margin: 10px;
    width: 200px;
    text-align: center;
}

h4 {
    margin-top: 10px;
    height: 20px;
    margin-bottom: 0px;
    text-align: center;
    background: rgb(255, 255, 255);
    color: rgb(88, 8, 71);
    font-size: larger;
}

p {
    font-size: 17px;
}

article {
    display: flex;
    justify-content: center;
}

iframe {
    width: 100%;
    height: 400px;
}

#fijo {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 10px;
    background-color: rgb(0, 0, 0);
}

#fijo h1 {
    margin: auto;
}

#fijo a {
    margin: auto;
}