.tamano {
  font-size: 60px;
}

.contenedor {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.peque {
  margin-left: 10px;
  width: 55px;
  height: auto;
}

.abs {
    position:fixed;
  padding: 10px;
  display: flex;
  justify-content: left;
  z-index: 3;
  width: 40px;
}
.textura {
    background: rgb( 255, 255, 255, 0.7);
    width: 100vw;
    height: 100vh;

}
.nav-enlace{
    display: inline-block;
    background: rgb(0, 0, 0);
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.cinco{
    background: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    border: none;
    display: none;
}
@media(max-width: 600px){
    .abs{   
        flex-direction: column; 
    }
    .cinco{
        display: inline-block;
    }
    .nav-enlace{
        margin: 10px 10px;
    }
    .desaparece{
        display: none;
    }
}
/* -------------------------------BAnner----------------------------- */

.imgPrin {
  background: linear-gradient(
      to right,
      rgba(21, 2, 92, 0.507),
      rgba(83, 0, 0, 0.507)
    ),
    url(../img_base/banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 30rem;
  top: 0;
}

.imgPrin a {
  color: #ffffff;
  text-decoration: none;
}

.imgPrin h1 {
  text-align: center;
  font-weight: 400;
}

.imgPrin h1 span {
  font-weight: 700;
}

.no-margin {
  margin: 0px;
  font-size: 1fr;
}

.texto-header {
  font-style: italic;
  color: #ffffff;
  text-align: center;
  margin-top: 10rem;
}

.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.static {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
}

.deslizar {
  display: inline-flex;
  width: 100%;
  overflow-x: auto;
}

.left {
  position: absolute;
  width: 40px;
  margin-top: 120px;
  margin-left: 5px;
}

.right {
  position: absolute;
  right: 0;
  width: 40px;
  margin-top: 120px;
  margin-right: 5px;
}

.grupo {
  padding: 0px 10px 10px 10px;
  margin: 10px 3%;
  font-size: 125%;
  border-style: outset;
  border-bottom-left-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grupo img {
  background-image: url(../img_base/T\ \(2\).png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 150px;
}

.grupo hr {
  line-height: 10px;
}

.grupo p {
  font-size: 20px;
}

.grupo h2 {
  margin: 0px auto;
  text-align: center;
}
.grupo a {
  text-decoration: none;
  background-color: #ece9e9;
  color: #000000;
  padding: 5px;
  border-style: groove;
}

.final {
  width: 100%;
  background: rgb(0, 0, 0);
  height: max-content;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-around;
}

.enl-final {
  display: flex;
  justify-content: center;
}

.enlace {
  height: 30%;
  width: 30%;
  margin: 10px;
}

.red {
  width: 100%;
  height: auto;
}

.tool {
  color: white;
  font-size: 1fr;
}

.cuadro {
  background: white;
  color: rgb(0, 0, 0);
  padding: 2px 2px 2px 2px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.morade {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 2px 2px 2px 2px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.parrafo {
  color: white;
}

.container {
  position: relative;
  padding: 0px;
  text-align: center;
}

.texto-fondo {
  margin: 0px;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 70%;
  height: 30px;
  background: linear-gradient(to right, rgba(7, 7, 7), rgb(100, 0, 47));
  color: rgb(255, 255, 255);
  padding: 0px 0px 0px 0px;
  text-align: center;
  border-radius: 30% 70% 30% 70% / 100% 0% 100% 0%;
}

/* barra flotante */

.navbar {
  z-index: 2;
  background-color: black;
  position: sticky;
  top: 0;
  padding: 5px 10px;
  justify-content: space-between;
  padding: 15px;
}

.navbar h2 {
  margin: auto;
  color: white;
}

.navbar a {
  margin: auto;
}
.transfer {
  background-color: #000000;
  text-align: center;
}
.transfer a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-around;
}
.transfer h2 {
  margin: auto;
}
.transfer img {
  margin: auto;
}
