@media(max-width:900px){
    .static{
        grid-template-columns:  1fr 1fr 1fr;
    }
    h4{
        max-height: max-content;
        font-size:medium;
    }
    .grupo p{
        font-size: 10px;
    }
    .cuadro{
        border-radius: 20px;
    }
    .morade{
        border-radius: 20px;
    } 
    @media(max-width: 600px){
        .static{
            flex-direction: column;
            width: 100%;
            grid-template-columns: 1fr 1fr;
        }  
        .barra nav{
            font-size: 1fr;
        }
        h4{
            font-size: small;
        }
        .parrafo{
            font-size: 10px;        
        }
        .barra{
            width: 95%;
        }  
          
    }
}
